/* Contenedor principal de la barra superior */
.top-row {
    min-height: 3.5rem;
    background-color: #1a1a1a; /* Negro carbón */
    border-bottom: 2px solid #ccff00; /* Línea de acento neón */
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ccff00 !important; /* Nombre del gym en neón */
}

/* Íconos con color de acento */
.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.8rem;
    filter: drop-shadow(0px 0px 2px rgba(204, 255, 0, 0.5));
}

/* Botones del Menú */
.nav-item {
    padding: 0.3rem 0.8rem;
}

    .nav-item ::deep .nav-link {
        color: #aeaeae;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 8px;
        transition: all 0.3s ease;
        border: 1px solid transparent;
    }

        /* Estado HOVER (al pasar el mouse) */
        .nav-item ::deep .nav-link:hover {
            background-color: rgba(204, 255, 0, 0.1);
            color: #ccff00;
            border: 1px solid rgba(204, 255, 0, 0.3);
            transform: translateX(5px); /* Efecto de desplazamiento */
        }

    /* Estado ACTIVO (donde estás parado) */
    .nav-item ::deep a.active {
        background: linear-gradient(90deg, #ccff00 0%, #9ef000 100%);
        color: #000 !important; /* Texto negro para contrastar con el neón */
        font-weight: bold;
        box-shadow: 0px 4px 15px rgba(204, 255, 0, 0.3);
    }

/* Botón de menú móvil (Hamburguesa) */
.navbar-toggler {
    border: none;
    background-color: #ccff00 !important;
    border-radius: 5px;
}

/* Scrollbar personalizada para que no rompa la estética */
.nav-scrollable::-webkit-scrollbar {
    width: 4px;
}

.nav-scrollable::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
}
