/* Reset global para que nada limite el tamaño */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Fondo oscuro total */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: #e0e0e0;
}

/* Enlaces y botones base */
a, .btn-link {
    color: #ccff00; /* Amarillo neón */
    text-decoration: none;
}

/* Contenedor de Blazor que suele causar el espacio vacío */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ajuste de la zona de contenido */
.content {
    padding: 0 !important; /* Quitamos paddings que empujan el contenido */
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Estilo para los inputs para que no desentonen con el gym */
.form-control {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: white;
}

    .form-control:focus {
        background-color: #252525;
        border-color: #ccff00;
        box-shadow: 0 0 0 0.25rem rgba(204, 255, 0, 0.25);
        color: white;
    }
